In [1]:
import pandas as pd
titanic_data = pd.read_csv('titanic-data.csv')
print(titanic_data.shape)
titanic_data.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Resolución:
### Pregunta 1
* Cuántas personas de la clase 1 no sobrevivieron?

In [2]:
d1 = titanic_data.loc[(titanic_data['Pclass'] == 1) & (titanic_data['Survived'] == 0)]
print(d1.shape)
print("Personas de la clase 1 que no sobrevivieron es : ", d1.shape[0])

(80, 12)
Personas de la clase 1 que no sobrevivieron es :  80

* En qué propiedades encontraste valores perdidos? podrías deshacerte de ellos?

Revisamos el conteo de los registros que se presentan en la data

In [3]:
titanic_data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

1. Observando el conteo total de registros en cada campo correspondiente, el campo Age y Cabin tienen valores perdidos las cuales son valores NaN. 
2. Si se puede deshacer de ellos pero no es lo que se espera ya que se necesita representar esos NaN por otros valores.

* Muestre si al menos un infante de Queenstown sobrevivió? y de los otros puertos de embarcación, existen infantes sobrevivientes?

In [4]:
# Sobrevivientes en Queenstown
survivor_Q = (titanic_data['Survived'] == 1) & (titanic_data['Embarked'] == 'Q')
# infante personas menores de edad en este caso sera menores a 18
infante = titanic_data['Age'] < 18
output1 = titanic_data.loc[survivor_Q & infante]
if (output1.shape[0] > 1 ):
    print("Hay al menos un infante sobreviviente de Queenstown")

Hay al menos un infante sobreviviente de Queenstown

In [5]:
# Sobrevivientes en otros puertos
survivor = (titanic_data['Survived'] ==1 ) & (titanic_data['Embarked'] != 'Q')
output2 = titanic_data.loc[survivor & infante]
if output2.shape[0]>1 :
    print("Hay al menos un infante sobreviviente en otros puertos")

Hay al menos un infante sobreviviente en otros puertos

* Cuántas mujeres mayores de 20 años sobrevivieron

In [6]:
condition = (titanic_data['Survived'] == 1) & (titanic_data['Sex'] == 'female') & (titanic_data['Age'] > 20)
output3 = titanic_data.loc[condition].shape[0]
print("Cantidad de mujeres mayores a 20 años que sobrevivieron : ", output3)

Cantidad de mujeres mayores a 20 años que sobrevivieron :  144